:root {
  --clr-primary: rgba(240, 46, 170);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*End of reset*/

body {
  font-family: Roboto, sans-serif;
  margin-bottom: 100px;
}

/* Header */

.h1 {
  font-size: 40px;
  text-align: center;
  color: var(--clr-primary);
  padding-top: 15px;
}
@media (min-height: 860px) {
  .h1 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

/* main */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.settings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 15px;
  gap: 15px;
}
@media (min-height: 800px) {
  .settings {
    width: 70vh;
    max-width: 100%;
  }
}
.btn {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  max-height: 48px;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  transform: translate(1px, -2px);
}
.btn:active {
  transition: 0.1s;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.btn--m {
  padding: 10px 20px;
}
.btn--s {
  padding: 4px 8px;
}
[data-active="true"] {
  border: none;
  box-shadow: rgba(240, 46, 170) 3px 3px 5px, rgba(240, 46, 170) -3px -3px 5px,
    rgba(240, 46, 170) 3px -3px 5px, rgba(240, 46, 170) -3px 3px 5px;
}

#colorPicker {
  padding: 5px;
  width: 80px;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.icon {
  max-width: 24px;
}

#canvas {
  border: none;
  width: 70vh;
  max-width: 100%;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-spacing: 0;
}
#canvas tr {
  border: none;
  padding: 0;
  margin: 0;
}
#canvas td {
  border: none;
  padding: 0;
  margin: 0;
}
#canvas td:hover {
  outline: 2px solid black;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.dialog-prompt {
  padding: 0;
  margin: auto;
  border: 1px solid;
  border-radius: 8px;
}
.dialog-prompt::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
}

.fa-github {
  transition: 0.3s ease-in;
}
.fa-github:hover {
  scale: 130%;
  transform: translateY(-4px);
}
